<html>
<body>
<h1>Witaj</h1>
<p>
   Otrzymaliśmy prośbę związaną z resetem hasła, aby ustawić nowe hasło kliknij w poniższy link
</p>
<a href="{{ frontend_base_url }}/password-setup/{{ token }}">
   Ustaw Hasło
</a>
</body>
</html>
